/* font style */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared color */
.dark-01{
     color: #181818;  
}
.dark-02{
     color: #474747;
}
.dark-03{
     color: #757575;
}
/* Shared Background Color */
.shared-bg{
     background-color: #FFF8F3;
}
/* Shared text center */
.text-center{
     text-align: center;
}
/* shared button style */
.btn-primary{
     background-color: #FD6E0A;
     color: white;
     padding: 18px 35px ;
     border-radius: 5px;
     border: none;
}
/* shared style */
.text-primary{
     color: #FD6E0A;
}
/* Shared tittle */
.head3-tittle{
     font-weight: bold;
     font-size: 35px;
     color: #181818;
}
/* Shared Discription */
.common-description{
     font-weight: 400px;
     color: #757575;
}
/* Header background Style */
.header{
     background-image: url("../images/developer.png"), url("../images/header_bg.png");
     background-repeat: no-repeat;
     background-position: top left, bottom right;
}
main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
/* Nav Style Start */
nav{
     display: flex;
     align-items: center;
     justify-content:space-between;
     margin: 0px 200px;
}
.nav-title{
     font-weight: 800;
     font-size: 45px;
}

nav ul li{
     list-style: none;
     /* margin-right: 50px; */
}
nav li a{
     text-decoration: none;
     font-size: 20px;
}

nav ul{
     display: flex;
     align-items: center;
     gap: 50px;
}
/* Nav Style End */


/* Banner Style */
.banner{
     display: flex;
     justify-content: space-between;
     margin: 0 35px 0 200px ;
}
.banner-content{
     max-width: 585px;
}
.banner-greetings{
     font-weight: 600px;
     font-size: 45px;
     margin:0;
     padding:0;
     margin-top: 150px;
}

.banner-tittle{
     font-weight: bold;
     font-size: 85px;
     margin:0;
     padding:0;
}

.banner-description{
     font-weight: 400px;
     font-size: 18px;
}
.btn-contact{
     background-color: white;
     color: #FD6E0A;
     padding: 18px 35px ;
     border-radius: 5px;
     border: 1px solid #FD6E0A;
     margin-left: 10px;
}

/* Main Style */
main{
     max-width: 1140px;
     margin: 0 auto;
}

/* about Style */
.about{
     border-radius: 10px;
     padding: 130px 156px;
     text-align: center;
}
.about-items{
     display: flex;
     justify-content: space-around;
     margin-top: 50px;
}
.item-tittle{
     font-size: 20px;
     margin:0;
     padding:0;
}
.item-description{
     font-size: 20px;
     color: #474747;
     font-weight: bold;
     margin:0;
     padding:0;
}

/* skill-container */
.skill-container{
     display: flex;
     gap: 24px;
}

.skills-details{
     padding: 0px 80px 20px;
}

/* skill style */
.skill{
     padding: 30px;
     border-radius: 5px;
     box-shadow: 0px 6px 50px 0px  rgba(0, 0, 0, 0.06);
}

/* resume section style */
.resume-title{
     text-align: center; 
     margin-bottom: 113px;
}
.resume-container{
     display: flex;
     gap: 24px;
}
.resume-column-title{
    font-weight: bold; 
    font-size: 30px;
    color: #474747;

}
.education-title, .experience-title{
    font-weight: bold; 
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    
}
.education-sub-title, .experience-sub-title{
     font-weight: 600px;
     font-size: 20px;
     margin-bottom: 20px;
     margin-top: 0px;
}
.resume hr{
     margin: 20px 0px;
}
.resume-btn{ 
     margin-top: 50px;
     text-align: center;
}
footer{
     padding: 100px 150px;
     display: flex;
     gap: 110px;
}
.footer-title{
     margin-bottom: 20px;
}
.footer-description{
     /* font-weight: 400px; */
     color: #474747;
     font-size: 16px;
}
.footer-column{
     width: 50%;
}
footer input[type="text"], input[type="email"]{
     display: block;
     height: 64px;
     width: 100%;
     background-color: white;
     border: none;
     border-radius: 5px;
     margin-bottom: 24px;
     padding-left: 30px;
}
footer textarea{
     display: block;
     height: 180px;
     width: 100%;
     background-color: white;
     border: none;
     border-radius: 5px;
     margin-bottom: 24px;
     padding-left: 30px;
     padding-top: 18px;
}